{
    "sender.user": "发送通知邮件的邮箱",
    "sender.passwd": "发送通知邮件邮箱的密码",
    "sender.mailserver": "发送通知邮件邮箱的服务器",
    "administrator.mailreceiver": "管理员接收邮件的邮箱",
    "users": [
        "USER1",
        "USER2"
    ],
    "USER1": {
        "stuno": "学号",
        "passwd": "epc平台的密码",
        "receiver.user": "接收通知的邮箱",
        "verbose": true,
        "enable.loop": false,
        "enable.order": true,
        "enable.replace": true,
        "enable.duplicate": false,
        "enable.situational_dialog": false,
        "enable.topical_discuss": true,
        "enable.debate": true,
        "enable.drama": true,
        "order_week_beforeequal": 20,
        "order_week_afterequal": 0,
        "replace.earlier": true,
        "replace.candidate": "City Growth",
        "replace.forbidden": "",
        "course.forbidden": [
            "forbidden word1",
            "forbidden word2
        ],
        "course.favorite": "",
        "max.loop": 3
    },
    "USER2": {
        "stuno": "学号",
        "passwd": "epc平台的密码",
        "receiver.user": "接收通知的邮箱",
        "verbose": true,
        "enable.loop": false,
        "enable.order": true,
        "enable.replace": true,
        "enable.duplicate": false,
        "enable.situational_dialog": false,
        "enable.topical_discuss": true,
        "enable.debate": true,
        "enable.drama": true,
        "order_week_beforeequal": 20,
        "order_week_afterequal": 0,
        "replace.earlier": true,
        "replace.candidate": "City Growth",
        "replace.forbidden": "",
        "course.forbidden": [
            "forbidden word1",
            "forbidden word2
        ],
        "course.favorite": "",
        "max.loop": 3
    }
}